<div style = "background-color: black; text-align: center" class="container">
 <h2 style = "color: white;">Prenotazioni</h2>
 <form style = "background-color: gray;" [formGroup]="myForm"
       (ngSubmit)="onSubmit(myForm.value)"
       class="jumbotron">

   <div class="form-group">
     <label for="nomeInput">Nome</label>
     <input type="text"
           id="nomeInput"
           placeholder="Nome"
           name="nome"
           [formControl]="myForm.controls['nome']"
           class="form-control">
     <br>
     <label for="cognomeInput">Cognome</label>
     <input type="text"
           id="cognomeInput"
           placeholder="Cognome"
           name="cognome"
           [formControl]="myForm.controls['cognome']"
           class="form-control">
     <br>
     <label for="indirizzoInput">Indirizzo</label>
     <input type="text"
           id="indirizzoInput"
           placeholder="Indirizzo"
           name="indirizzo"
           [formControl]="myForm.controls['indirizzo']"
           class="form-control">
     <br>
     <label for="telInput">Telefono</label>
     <input type="tel"
           id="telInput"
           placeholder="Telefono"
           name="tel"
           [formControl]="myForm.controls['tel']"
           class="form-control">
     <br>
     <label for="emailInput">Email</label>
     <input type="email"
           id="emailInput"
           placeholder="Email"
           name="email"
           [formControl]="myForm.controls['email']"
           class="form-control">
     <br>
     <label for="dateInput">Data di prenotazione</label>
     <input type="date"
           id="dateInput"
           placeholder="Data"
           name="date"
           [formControl]="myForm.controls['date']"
           class="form-control">
     <br>
     <label for="oraInput">Orario di prenotazione</label>
     <input type="time"
           id="timeInput"
           placeholder="Orario"
           name="time"
           [formControl]="myForm.controls['time']"
           class="form-control">
   </div>

  
   <button type="submit" class="btn btn-primary">Prenotazioni</button>
 </form>
  
 
</div>